<%- include("partials/header"); -%>

<div class="main-banner">
  <div class="top-text header-text">
  <h2 >ABOUT US</h2>
  </div>
  <div class=content-div">
    <p class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Ultrices vitae auctor eu augue ut. Nam aliquam sem et
      tortor consequat id porta. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Lectus quam id leo in vitae turpis massa sed. Eu non diam phasellus vestibulum lorem sed risus ultricies. Ac ut consequat semper viverra nam libero justo
      laoreet sit. Tristique risus nec feugiat in fermentum posuere urna. Non sodales neque sodales ut etiam. Mattis molestie a iaculis at.
      </p>
  </div>
</div>

<%- include("partials/footer"); -%>
