<%- include("partials/header"); -%>

<div class="main-banner">
  <div class="top-text header-text">
  <h2 >ABOUT US</h2>
  </div>
  <div class=content-div">
    <p class="content">
      <strong>Variable Weather</strong> intends to help farmers by giving Weather data along with the information about the current harvesting season
        and provide recommendations about using appropriate water management technologies according to the weather condition and temprature.
       Our site likewise contains references to other useful sites which might be beneficial for farmers.
      </p>
  </div>
</div>

<%- include("partials/footer"); -%>
