<%- include("partials/header"); -%>

<div class="main-banner">
  <div class="top-text header-text">
  <h2>References</h2>
  </div>
  <br>
  <p class="content">
    Below are some References to help you understand modern day farming and increase your harvest eponentially.<br><br>
  </p>
</div>

<section class="white-section" id="pricing">
<div class="row reference-card">

  <div class="pricing-column col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="price-text">Ministry of Agriculture and Farmer Welfare</h3>
      </div>
      <div class="card-body">
        <p class="ref-cont">Information is provided about the Ministry of Agriculture & Farmers Welfare. Users can find details related to programmes and schemes related to horticulture, seeds, plant protection, etc.</p>
        <div class="d-grid gap-2">
        <a class="btn btn-lg btn-block btn-success" href="https://agricoop.nic.in/en">Explore</a>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing-column col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="price-text">Farmers Portal</h3>
      </div>
      <div class="card-body">
        <p class="ref-cont">Farmers’ Portal is an endeavour in this direction to create one stop shop for meeting all informational needs relating to Agriculture, Animal Husbandry and Fisheries sectors production, sale/storage of an Indian farmer. With this Indian Farmer will not be required to sift through maze of websites created for specific purposes.</p>
        <div class="d-grid gap-2">
           <a class="btn btn-lg btn-block btn-success" href="https://farmer.gov.in/">Explore</a>
      </div>
      </div>
    </div>
  </div>

  <div class="pricing-column col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="price-text">Pradhan Mantri Fasal Bima Yojana</h3>
      </div>
      <div class="card-body">
        <p class="ref-cont">Pradhan Mantri Fasal Bima Yojana (PMFBY) is the government sponsored crop insurance scheme that integrates multiple stakeholders on a single platform.</p>
     <div class="d-grid gap-2">
            <a class="btn btn-lg btn-block btn-success" href="https://pmfby.gov.in/">Explore</a>
      </div>
      </div>
    </div>
  </div>

  <div class="pricing-column col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="price-text">National Portal of India</h3>
      </div>
      <div class="card-body">
        <p class="ref-cont">This website provides the information on agriculture produces; machineries, research, government policies, schemes, agriculture loans, market prices, etc.</p>
<div class="d-grid gap-2">
          <a class="btn btn-lg btn-block btn-success" href="https://www.india.gov.in/topics/agriculture">Explore</a>
      </div>
      </div>
    </div>
  </div>


  <div class="pricing-column col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="price-text">Rashtriya Krishi Vikas Yojana</h3>
      </div>
      <div class="card-body">
        <p class="ref-cont">Central Assistance scheme to incentivise States to draw up plans for their agriculture sector more comprehensively, taking agro-climatic conditions, natural resource issues and technology into account, and integrating livestock, poultry and fisheries more fully.</p>
        <div class="d-grid gap-2">
            <a class="btn btn-lg btn-block btn-success" href="http://rkvy.nic.in/">Explore</a>
      </div>
      </div>
    </div>
  </div>

  <div class="pricing-column col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="price-text">Pradhan Mantri Kisan Samman Nidhi</h3>
      </div>
      <div class="card-body">
        <p class="ref-cont">The PM-KISAN scheme aims to supplement the financial needs of the SMFs in procuring various inputs to ensure proper crop health and appropriate yields, commensurate with the anticipated farm income at the end of the each crop cycle.</p>
          <div class="d-grid gap-2">
        <a class="btn btn-lg btn-block btn-success" type="button" href="https://pmkisan.gov.in/">Explore</a>
      </div>
      </div>
    </div>
  </div>

</div>

</section>

<%- include("partials/footer"); -%>
